/* Menu & Container */
.container {
    position: relative;
    background: #fff;
    width: 95%;
    max-width: 100%;
    margin: 20px auto;
}

.menu ul {
    list-style: none;
    width: 100%;
    display: table;
}

.menu ul li {
    display: table-cell;
    width: calc(30px * 5)
}

.menu ul li:hover{
    background: black;
}

.menu ul li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 20px 0;
    text-align: center;
}

.menu ul .todos {background: #3691be;}
.menu ul .turismo {background: #106288;}
.menu ul .trabajo {background: #0b4661;}
.menu ul .estadia {background: #093144;}
.menu ul .vacaciones {background: #022535;}

/* Galeria  */
.galeria {
    padding: 20px;
    margin: 20px 0 0 20px;
    flex-wrap: wrap;
    display: block;
}

.galeria .title-img {
    width: 100%;
    border-top: 4px solid #46abdf;
}

.galeria .title-img h3 {
    font-size: 40px;
    text-align: center;
    padding: 10px 0;
    color: black;
    font-weight: 300;
}

.galeria .box-img {
    position: relative;
    width: 90%;
    background-color: #46abdf;
    margin: 10px 0 0 100px;
    padding: 50px;
    display: flex;
}

.galeria .box-img .image img {
    width: 300px;
}

.galeria .box-img .text {
    margin-left: 20px;
}

.galeria .box-img .text h4 {
    font-size: 30px;
}

.galeria .box-img .text p {
    display: flex;
    font-size: 20px;
}

/* Responsive Code */
@media screen and (max-width: 1860px){
    .navbar nav {
        padding: 10px 40px 10px 0;
    }   

    .navbar nav ul {
        flex-direction: column;
        width: 100%;
        margin: 20px;
        padding: 0 0 10px;
        
    }

    .navbar nav ul li {
        padding: 10px 20px 10px;
        text-align: justify;
        display: table-row;
        align-items: center;
    }
}

@media screen and (max-width: 1188px) {

    .container .menu {
        padding: 10px 40px 10px 0;
    }

    .container .menu ul {
        flex-direction: column;
        max-width: 100%;
        margin-left: 20px;
        padding: 0 0 10px;
    }

    .container .menu ul li {
        max-width: 100%;
        margin-top: 5px;
        display: table-row;
    }

    .galeria {
        max-width: 100%;
    }

    .galeria, .box-img {
        flex-direction: column;
        align-items: center;
    }

    .box-img, .image img{
        max-width: 100%;
    }

    .box-img, .text {
        margin-left: 20px;
    }
}

@media screen and (max-width: 700px) {

    .container{
        max-width: 500px;
    }

    .galeria {
        width: 100%;
        max-width: 600px;
    }

    .galeria .box-img {
        max-width: 100%;
        margin: 10px;
    }

    footer {
        position: relative;
        bottom: 0px;
    }

    .footer-content {
        flex-wrap: wrap;
        flex-direction: column;
    }
}