{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Contactenos</title>
        <link rel="stylesheet" href="{% static 'main/css/calendar.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'main/css/formulario.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'main/css/header.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'main/css/footer.css' %}" type="text/css">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <script src="{% static 'main/js/jquery.js' %}"></script>
        <script src="{% static 'main/js/calendar.js' %}"></script>
        <script src="{% static 'main/js/regioncomuna.js' %}"></script>
        <script src="{% static 'main/js/datos.js' %}."></script>
    </head>

    <body>

        <!--Navegacion-->
        <div class="navbar">
            <nav>
                <ul>
                    <li class="index"><a href="index">Inicio</a></li>
                    <li class="travels"><a href="travels">Tipos de Viaje</a></li>
                    <li class="servicios"><a href="mostrarForma">Servicios</a></li>
                    <li class="forma"><a href="forma">Formulario</a></li>
                </ul>
            </nav>
        </div>

        <!--Formulario-->
        <div class="form-register">
            <form id="form" class="formulario" action="forma" method="POST" enctype="multipart/form-data">
                {% csrf_token %}  
                <div class="form-answers">
                    <div class="form_description">
                        <h2>Formulario de Contacto</h2>
                    </div>
                    <ul>
                        <li class="li_1">
                            <label class="email" for="element_1">Email:</label>
                            <div>
                                {{form.Email}}
                            </div>
                        </li>
                        <li class="li_2">
                            <label class="rut" for="element_2">R.U.N (sin puntos y con guion):</label>
                            <div>
                                {{form.Rut}}
                            </div>
                        </li>
                        <li class="li_3">
                            <label class="nombres" for="element_3">Nombres:</label>
                            <div>
                                {{form.Nombres}}
                            </div>
                        </li>
                        <li class="li_4">
                            <label class="apellidos" for="element_4">Apellidos:</label>
                            <div>
                                {{form.Apellidos}}
                            </div>
                        </li>
                        <li class="li_5">
                            <label class="telefono">Teléfono:</label>
                            <div>
                                {{form.Telefono}}
                            </div>
                        </li>
                        <li class="li_7">
                            <label class="region" for="element_7">Region de Residencia:</label>
                            <div>
                                <select class="regionSelect" id="regiones" name="Region">
                                    <option value="sin-region" selected="selected">Seleccione Region</option>
                                    <option value="sin-region">-------</option>
                                    <option value="Arica y Parinacota">Arica y Parinacota</option>
                                    <option value="Tarapacá">Tarapacá</option><option value="Antofagasta">Antofagasta</option>
                                    <option value="Atacama">Atacama</option><option value="Coquimbo">Coquimbo</option>
                                    <option value="Valparaíso">Valparaíso</option>
                                    <option value="Región del Libertador Gral. Bernardo O’Higgins">Región del Libertador Gral. Bernardo O’Higgins</option>
                                    <option value="Región del Maule">Región del Maule</option>
                                    <option value="Región del Biobío">Región del Biobío</option>
                                    <option value="Región de la Araucanía">Región de la Araucanía</option>
                                    <option value="Región de Los Ríos">Región de Los Ríos</option>
                                    <option value="Región de Los Lagos">Región de Los Lagos</option>
                                    <option value="Región Aisén del Gral. Carlos Ibáñez del Campo">Región Aisén del Gral. Carlos Ibáñez del Campo</option>
                                    <option value="Región de Magallanes y de la AntárVca Chilena">Región de Magallanes y de la AntárVca Chilena</option>
                                    <option value="Región Metropolitana de Santiago">Región Metropolitana de Santiago</option>
                                </select>
                            </div>
                        </li>
                        <li class="li_8">
                            <label class="comuna" for="element_8">Comuna de Residencia:</label>
                            <div>
                                <select class="comunaSelect" id="comunas" name="Comuna">
                                    <option value="sin-region" selected="selected">Seleccione comuna</option>
                                    <option value="sin-region">--</option>
                                </select>
                            </div>
                        </li>
                        <li class="li_9">
                            <label class="tipo" for="element_9">Tipo de Viaje: </label>
                            <div>
                                <select class="tipoSelect" id="tipos" name="TipoViaje"> 
                                    <option value="sin-tipo" selected="selected">Seleccione Tipo de Viaje</option>
                                    <option value="sin-tipo">-------</option>
                                    <option value="Viaje de Turismo">Viaje de Turismo</option>
                                    <option value="Viaje de Trabajo">Viaje de Trabajo</option>
                                    <option value="Viaje con Estadia">Viaje con Estadia</option>
                                    <option value="Viaje de Vacaciones">Viaje de Vacaciones</option>
                                </select>
                            </div>
                        </li>
                        <li class="li_10">
                            <label class="Imagen" for="element_10">Imagen</label>
                            <input type="file" name="txtImagen" id="txtImagen" size="60">
                        </li>
                        {{ form.errors }}
                        <li class="button">
                            <input id="saveForm" class="button_text" type="submit" value="Submit"/>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <script>
            var form_fields = document.getElementsByTagName('input')
            form_fields[1].placeholder='Ingrese Email';
            form_fields[2].placeholder='Ingrese Rut';
            form_fields[3].placeholder='Ingrese Nombres';
            form_fields[4].placeholder='Ingrese Apellidos';
            form_fields[5].placeholder='Ingrese Telefono';

            for(var field in form_fields){
                form_fields[field].className += ' form-control'
            }

        </script>
        <!--Pie de Pagina-->
        <footer>
            <div class="footer-content">
                <div class="left box">
                    <h1>Sobre Nosotros</h1>
                    <div class="content">
                        <p>
                            Viajes Travel Fast, es una empresa de servicios turísticos y agencia de viajes que opera en todo Chile y el mundo.
                            <br>
                            <br>
                            Viajes Travel Fast se ha convertido en un actor importante dentro del turismo, tanto nacional como internacional. 
                            Nuestra experiencia y conocimiento del rubro nos ha permitido posicionarnos y lograr que nuestra empresa conecte 
                            a Chile con el mundo de forma fácil y rápida. Nuestro enfoque de excelencia nos ha permitido otorgar servicios 
                            turísticos a Grandes empresas y personas naturales que ven en nosotros un partner que logrará cumplir con sus 
                            requerimientos y los hará llegar a buen destino.
                        </p>
                    </div>
                </div>
                
                <div class="center box">
                    <h2>Contacto</h2>
                    <div class="content">
                        <div class="place">
                            <span class="fas fa-map-marker-alt"></span>
                            <span class="text">Huechuraba, Santiago.</span>
                        </div>
                        <div class="phone">
                            <span class="fas fa-phone"></span>
                            <span class="text">+56 9 1234 5678</span>
                        </div>
                        <div class="email">
                            <span class="fas fa-envelope"></span>
                            <span class="text">email@travelfast.cl</span>
                        </div>
                    </div>
                </div>

                <div class="right box">
                    <h2>Redes Sociales</h2>
                    <div class="content">
                        <a href="404"><i class="fab fa-facebook"></i></a>
                        <a href="404"><i class="fab fa-instagram"></i></a>
                        <a href="404"><i class="fab fa-twitter"></i></a>
                        <a href="404"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="bottom">
                <div class="copyright">
                    <p> Travel Fast Inc © 2020. All Rights Reserved.</p>
                    
                    <p>
                        <a href="http://jigsaw.w3.org/css-validator/check/referer">
                            <img style="border:0;width:88px;height:31px"
                                src="//jigsaw.w3.org/css-validator/images/vcss"
                                alt="¡CSS Válido!" />
                        </a>
                    </p>
                                        
                    <p>
                        <a href="http://jigsaw.w3.org/css-validator/check/referer">
                            <img style="border:0;width:88px;height:31px"
                                src="//jigsaw.w3.org/css-validator/images/vcss-blue"
                                alt="¡CSS Válido!" />
                        </a>
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>