
/* Formulario */
.form-register {
    display: flex;
    background-color: grey;
    align-content: center;
}

.formulario {
    margin: 10px auto;
}

.form-answers {
    border: 2px solid white;
    max-width: 100%;
    background: #008080;
    padding: 10px 50px;
    border-radius: 8px;
}

.form-answers ul {
    list-style-type: none;
    font-size: 100%;
    margin: 0 ;
    padding: 0 50px 0 0;
    width: 350px;
}

.imagen {
    font-size: 19px;
    font-weight: 300;
    margin: 0 10px 0 0;
}

.form-answers li {
    display: block;
    width: 350px;
    margin: 0;
    padding: 4px 5px 2px 9px;
    position: center;
}

.form-answers .button {
    clear: both;
    display: block;
    margin-top: 10px;
}

.form-answers li div {
    color: #444;
    margin: 0 4px 0 0;
    padding: 0 0 8px;
}

.form-answers li div label {
    clear: both;
    color: #444;
    font-size: 9px;
    line-height: 9px;
    margin: 0;
    padding-top: 3px;
}

.form-answers li span label {
    clear: both;
    color: #444;
    font-size: 9px;
    line-height: 9px;
    margin: 0;
    padding-top: 3px;
}
/* Inputs y Labels */
label.imagen {
    border: none;
    color: #222;
    display: block;
    font-size: 19px;
    font-weight: 700;
    line-height: 150%;
    padding: 0 0 10px;
}

/* Responsive Code */
@media screen and (max-width: 1860px){
    .navbar nav {
        padding: 10px 40px 10px 0;
    }   

    .navbar nav ul {
        flex-direction: column;
        width: 100%;
        margin: 20px;
        padding: 0 0 10px;
        
    }

    .navbar nav ul li {
        padding: 10px 20px 10px;
        text-align: justify;
        display: table-row;
        align-items: center;
    }
}

@media screen and (max-width: 1188px) {

    nav {
        padding: 10px 40px 10px 0;
    }   

    nav ul {
        flex-direction: column;
        max-width: 100%;
        margin: 20px;
        padding: 0 0 10px;
    }

    nav ul li {
        max-width: 100%;
        padding: 10px 20px 10px;
        text-align: justify;
        display: table-row;
    }
}

@media screen and (max-width: 700px) {

    footer {
        position: relative;
        bottom: 0px;
    }

    .footer-content {
        flex-wrap: wrap;
        flex-direction: column;
    }
}