/* Formulario */
.form-register {
    display: flex;
    background-color: grey;
    align-content: center;
}

.formulario {
    margin: 10px auto;
}

.form-answers {
    border: 2px solid white;
    max-width: 100%;
    background: #008080;
    padding: 10px 50px;
    border-radius: 8px;
}

.form-answers ul {
    list-style-type: none;
    font-size: 100%;
    margin: 0 ;
    padding: 0 50px 0 0;
    width: 350px;
}

.email, .rut, .nombres, .apellidos, .fecha, .telefono, .region, .comuna, .tipo, .Imagen {
    font-size: 19px;
    font-weight: 300;
    margin: 0 10px 0 0;
}

.form-answers li {
    display: block;
    width: 350px;
    margin: 0;
    padding: 4px 5px 2px 9px;
    position: center;
}

.form-answers .button {
    clear: both;
    display: block;
    margin-top: 10px;
}

.form-answers li div {
    color: #444;
    margin: 0 4px 0 0;
    padding: 0 0 8px;
}

.form-answers li div label {
    clear: both;
    color: #444;
    font-size: 9px;
    line-height: 9px;
    margin: 0;
    padding-top: 3px;
}

.form-answers li span label {
    clear: both;
    color: #444;
    font-size: 9px;
    line-height: 9px;
    margin: 0;
    padding-top: 3px;
}

/* Inputs y Labels */
label.email, label.rut, label.nombres, label.apellidos, label.fecha, 
label.telefono, label.region, label.comuna, label.tipo, label.Imagen {
    border: none;
    color: #222;
    display: block;
    font-size: 19px;
    font-weight: 700;
    line-height: 150%;
    padding: 0 0 10px;
}

input[type="file"]{
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
}

input[type="email"],
input[type="text"],
input[type="tel"],
textarea,
select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px rgba(0,0,0,0.03);
    margin-bottom: 30px;
}

input[type="cal"] {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px rgba(0,0,0,0.03);
    margin-bottom: 30px;
}

/* Tamaño del icono de Calendario */
#calendar_5 {
    font-size: 20px;
    margin-left: 10px;
}

/* Color en seleccion */
input:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81,203,238,1);
    border: 1px solid rgba(81,203,238,1);
}

/* Boton */
.button_text {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
}

.button_text:hover {
    box-shadow: 0 0 5px rgba(81,203,238,1);
    border: 1px solid rgba(81,203,238,1);
    background-color: #3e8e41;
}

/* Guidelines Errors */
form li.highlighted {
    background-color: #6DCCAA;
}

form .guidelines {
    background: #F5F5F5;
    border: 1px solid #E6E6E6;
    color: #444;
    font-size: 80%;
    left: 100%;
    line-height: 30%;
    margin: 0 0 0 8px;
    padding: 8px 10px 9px;
    position: relative;
    top: -80px;
    visibility: hidden;
    width: 42%;
    z-index: 1000;
}

form .guidelines small {
    font-size: 105%;
}

form li.highlighted .guidelines
{
	visibility:visible;
}

form li:hover .guidelines {
    visibility: visible;
}

.no_guidelines .guidelines
{
	display:none !important;
}

.no_guidelines form li
{
	width:97%;
}

.no_guidelines li.section
{
	padding-left:9px;
}

/* Responsive Code */
@media screen and (max-width: 1860px){
    .navbar nav {
        padding: 10px 40px 10px 0;
    }   

    .navbar nav ul {
        flex-direction: column;
        width: 100%;
        margin: 20px;
        padding: 0 0 10px;
        
    }

    .navbar nav ul li {
        padding: 10px 20px 10px;
        text-align: justify;
        display: table-row;
        align-items: center;
    }
}

@media screen and (max-width: 1188px) {

    nav {
        padding: 10px 40px 10px 0;
    }      
    nav ul div.items {
        flex-direction: column;
        max-width: 300px;
        padding: 0 0 10px;
    }

    nav ul div.items li {
        max-width: 100%;
        padding: 10px 20px 10px;
        margin-top: 5px;
        text-align: justify;
    }
}

@media screen and (max-width: 700px) {

    footer {
        position: relative;
        bottom: 0px;
    }

    .footer-content {
        flex-wrap: wrap;
        flex-direction: column;
    }
}